@charset "utf-8";
/* CSS Document */
/*页面整体样式*/
body{
	margin:0;
	width:100%;
	font-size:15px;
	font-family:"楷体";
	line-height:1.5em;
}
.clear{
	clear:both;
}
a{
	color:#000;
}

/*页面中部样式*/
#container{
	width:100%;
}
#return{
	position:fixed;
	right:0;
	bottom:50px;
	width:35px;
	height:35px;
	opacity:0.7;
	background-image:url(../images/beijing.png);
	background-repeat:no-repeat;
}
#return a:link{
	color:#336;
}
#return a:visited{
	color:#336;
}
#return a:hover{
	font-weight:bolder;
}
#header{
	width:1200px;
	margin:0 auto;
	height:50px;
}
#header #header_logo{
	margin:-5px 170px 5px 30px;
	float:left;
}
#header #header_logo img{
	width:40px;
	height:40px;
	float:left;
}
#header #header_logo span{
	font-family:"黑体";
	color:#000;
	font-size:20px;
	display:block;
	float:left;
	margin-top:10px;
}
#header #header_menu ul li{
	display:block;
	float:left;
	margin-left:50px;
	margin-top:10px;
}
#header #header_menu ul li #position a{
	background-color:#69C;
	color:#FFF;
}
#header #header_menu ul li a{
	display:block;
	width:70px;
	height:45px;
	margin-top:-23px;
	padding-top:20px;
	text-align:center;
	background-color:#FFF;
}
#header #header_menu ul li a span{
	font-size:17px;
}
#header #header_menu ul li a:link{
	color:#000;
	text-decoration:none;
}
#header #header_menu ul li a:hover{
	font-weight:bolder;
}
#header #header_sousuo a img{
	display:block;
	float:left;
	width:30px;
	height:30px;
	margin:-3px 40px 0 50px;
}
#header #header_denglu{
	float:left;
	margin-top:7px;
}
#header #header_denglu a:link{
	color:#000;
	text-decoration:none;
}
#header #header_menu ul #position li a:visited{
	color:#FFF;
	background-color:#69c;
}
#header #header_denglu a:hover{
	font-weight:bolder;
}
#content #content_beijing{
	background-image:url(../images/beijing.png);
	background-repeat:repeat;
	margin-top:-10px;
}
#content #content_top img{
	width:100%;
}
#content #content_mainBox{
	width:1150px;
	margin:0 auto;
}
#content #content_mainBox .group span{
	font-family:"黑体";
	color:#000;
	font-size:20px;
	display:block;
	float:left;
	margin:30px 0 0 0px;
	border-bottom:2px solid #000;
}
#content #content_mainBox .group h3{
	margin:0 0 50px 20px;
}
#content #content_mainBox .group #tubiao1 img{
	width:30px;
	height:30px;
	display:block;
	float:left;
	margin-top:25px
}
#content #content_mainBox .clear{
	clear:both;
}
#content #content_mainBox #lianxi{
	width:100%;
	height:450px;
	background-color:#000;
	opacity:0.6;
	padding:20px 40px 15px 80px;
}
#content #content_mainBox #lianxi h1{
	text-align:center;
	color:#FFF;
	font-weight:bold;
	margin-top:20px;
}
#content #content_mainBox  #lianxi #form{
	color:#FFF;
	font-size:20px;
	opacity:1;
	display:block;
	float:left;
}
#content #content_mainBox  #lianxi #form #text1{
	width:200px;
	height:80px;
}
#content #content_mainBox  #lianxi #form #text1 input{
	border:0;
	outline:none;
	background-color:#000;
	color:#FFF;
	border:1px solid #FFF;
}
#content #content_mainBox  #lianxi #form .text2{
	width:502px;
	height:80px;
}
#content #content_mainBox  #lianxi #form .text2 input{
	border:0;
	outline:none;
	background-color:#000;
	color:#FFF;
	border:1px solid #FFF;
	width:500px;
}
#content #content_mainBox  #lianxi #form .text3{
	width:50px;
	height:25px;
}
#content #content_mainBox  #lianxi #form .text3 input{
	border:0;
	outline:none;
	background-color:#000;
	color:#FFF;
	border:1px solid #FFF;
	width:50px;
}
#content #content_mainBox  #lianxi h3{
	margin:120px 0 0 180px;
	color:#FFF;
	display:block;
	float:left;
	opacity:1;
	font-size:20px;
}
/*页面底部样式*/
#footer{
	width:100%;
	height:100px;
	text-align:center;
	color:#FFF;
	padding-top:20px;
	font-weight:bold;
	background-color:#333;
}

